USE [master]
GO
/****** Object:  Database [DBTestAplikasi]    Script Date: 02/06/2026 14:24:46 ******/
CREATE DATABASE [DBTestAplikasi]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'DBTestAplikasi', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBTestAplikasi.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DBTestAplikasi_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\DBTestAplikasi_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DBTestAplikasi].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DBTestAplikasi]
GO
/****** Object:  Table [dbo].[Produk]    Script Date: 02/06/2026 14:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Produk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NamaProduk] [nvarchar](200) NOT NULL,
	[Harga] [decimal](18, 2) NOT NULL,
	[Deskripsi] [nvarchar](max) NULL,
	[HargaModal] [decimal](18, 2) NOT NULL,
	[HargaJual] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StokProduk]    Script Date: 02/06/2026 14:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StokProduk](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProdukId] [int] NOT NULL,
	[Jumlah] [int] NOT NULL,
	[Keterangan] [nvarchar](500) NULL,
	[TanggalMasuk] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Transaksi]    Script Date: 02/06/2026 14:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Transaksi](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[NomorTransaksi] [varchar](30) NOT NULL,
	[KasirId] [int] NOT NULL,
	[TotalHarga] [decimal](18, 2) NOT NULL,
	[Bayar] [decimal](18, 2) NOT NULL,
	[Kembalian] [decimal](18, 2) NOT NULL,
	[TanggalTransaksi] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransaksiDetail]    Script Date: 02/06/2026 14:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransaksiDetail](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TransaksiId] [int] NOT NULL,
	[ProdukId] [int] NOT NULL,
	[NamaProduk] [nvarchar](200) NOT NULL,
	[HargaJual] [decimal](18, 2) NOT NULL,
	[Jumlah] [int] NOT NULL,
	[Subtotal] [decimal](18, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 02/06/2026 14:24:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](100) NOT NULL,
	[NamaLengkap] [varchar](100) NOT NULL,
	[Role] [varchar](20) NOT NULL,
	[Email] [varchar](100) NULL,
	[Status] [varchar](20) NULL,
	[FotoProfil] [varchar](255) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Produk] ADD  DEFAULT ((0)) FOR [HargaModal]
GO
ALTER TABLE [dbo].[Produk] ADD  DEFAULT ((0)) FOR [HargaJual]
GO
ALTER TABLE [dbo].[StokProduk] ADD  DEFAULT (getdate()) FOR [TanggalMasuk]
GO
ALTER TABLE [dbo].[Transaksi] ADD  DEFAULT ((0)) FOR [Bayar]
GO
ALTER TABLE [dbo].[Transaksi] ADD  DEFAULT ((0)) FOR [Kembalian]
GO
ALTER TABLE [dbo].[Transaksi] ADD  DEFAULT (getdate()) FOR [TanggalTransaksi]
GO
ALTER TABLE [dbo].[StokProduk]  WITH CHECK ADD  CONSTRAINT [FK_StokProduk_Produk] FOREIGN KEY([ProdukId])
REFERENCES [dbo].[Produk] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[StokProduk] CHECK CONSTRAINT [FK_StokProduk_Produk]
GO
ALTER TABLE [dbo].[Transaksi]  WITH CHECK ADD  CONSTRAINT [FK_Transaksi_Users] FOREIGN KEY([KasirId])
REFERENCES [dbo].[Users] ([Id])
GO
ALTER TABLE [dbo].[Transaksi] CHECK CONSTRAINT [FK_Transaksi_Users]
GO
ALTER TABLE [dbo].[TransaksiDetail]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiDetail_Produk] FOREIGN KEY([ProdukId])
REFERENCES [dbo].[Produk] ([Id])
GO
ALTER TABLE [dbo].[TransaksiDetail] CHECK CONSTRAINT [FK_TransaksiDetail_Produk]
GO
ALTER TABLE [dbo].[TransaksiDetail]  WITH CHECK ADD  CONSTRAINT [FK_TransaksiDetail_Transaksi] FOREIGN KEY([TransaksiId])
REFERENCES [dbo].[Transaksi] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[TransaksiDetail] CHECK CONSTRAINT [FK_TransaksiDetail_Transaksi]
GO
USE [master]
GO
